body{
font-family: Roboto, sans-serif;
font-weight: 100;

}

.title{
color: orange;
font-size: 40px;
text-align: center;
margin: 0 auto;
text-transform: uppercase;
padding-bottom: 40px;
font-style: italic;


}

.michael{
	text-align: center;
	margin: 0 auto;
	max-height: 500px;
	max-width: auto;
	display: flex;
	position: relative;
	justify-content: center;
	border: 6px solid steelblue;
	box-shadow:  0px 4px 8px

	
	
}

.welcome-message{
color: steelblue;
font-size: 25px;
text-align: center;
margin: 0 auto;
text-transform: uppercase;
padding-bottom: 40px;


}
